include ./../../layouts/mixin.jade
section#about.section
    .section-row-container
        .section-row
            .container
                .row
                    .col-lg-3
                        h1.section-title.show-counter
                            +content('home_sobrenos/whowearesx.htm')

                    .col-lg-8.col-lg-push-1
                        .row
                            .col-md-12.padding-bottom-50
                                +content('home_sobrenos/whowearedxdesc.htm')

                        +content('home_sobrenos/whowearedx4.htm')

                        
    .section-row.no-padding-top
        .container
            .row
                .col-md-8.col-md-push-4
                    h2.section-separator-title
                        +content('home_sobrenos/whoweareequipetitle.htm')

            .row
                .col-md-8.col-md-push-4
                    +content('home_sobrenos/whoweareequipedesc.htm')

            .row.padding-top-20
                +content('home_sobrenos/whoweareequipelist.htm')
