include ./../../layouts/mixin.jade
+infopage('Prog4','/prog4','default','Progetto 4')
+endinfofile()

+section('styles')
link(href="/themes/atemporale/assets/css/prog.min.css", rel="stylesheet")/
link(href="/themes/atemporale/assets/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")/
+endsection()

+section('scripts')
script(src="/themes/atemporale/assets/vendor/jquery/dist/jquery.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/js/prod/components/layout.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/js/prod/components/hydrogen.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/js/prod/pages/home.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/html5shiv/dist/html5shiv.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/royalslider/jquery.royalslider.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/mfp/jquery.mfp-0.9.9.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/mediaelement/build/mediaelement-and-player.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/gmap3/dist/gmap3.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/owlcarousel/owl-carousel/owl.carousel.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/isotope/dist/isotope.pkgd.min.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/jquery-form/jquery.form.js", type="text/javascript")
script(src="/themes/atemporale/assets/vendor/jquery-validation/dist/jquery.validate.min.js", type="text/javascript")
+endsection()

+section('eventuals')
//none
+endsection()

+section('pages')
section.section(data-background="/themes/atemporale/assets/images/parallax/1.jpg", data-background-xs="/themes/atemporale/assets/images/parallax/1-xs.jpg", data-background-md="/themes/atemporale/assets/images/parallax/1-md.jpg", data-background-lg="/themes/atemporale/assets/images/parallax/1-lg.jpg")
    .section-row-container
        .section-row.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h1.page-title.text-center
                            | MVIN
                            small Projeto de Marca Irresistível e Experiências que transformam

        .section-row.three-quarters-padding-bottom.three-quarters-padding-top
            .container
                .row
                    img#logo_cliente_inovar.col-md-offset-3.col-md-6(src!="{{'assets/images/portfolio/mvin/logo_esecutivo_mvin.svg'|theme }}", alt="")/

        .section-row.three-quarters-padding-bottom.three-quarters-padding-top
            .container
                .row
                    .col-md-12
                        p.col-md-offset-2.col-md-8.text-justify
                            +content('inovar/primotesto.htm')

        .section-row.no-padding-top
            .container
                .row
                    .col-md-12(style="border-top:1px #ddd solid;")

        .section-row.no-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h2.page-title.text-center
                            | Marca Irresistível
                            small Projeto de Marca Irresistível e Presença Virtual Insuperável

                .row.padding-top-100
                    .col-md-6
                        figure.col-md-12
                            img#costruzione_logo_cliente_inovar(src!="{{'assets/images/portfolio/mvin/costruzione_logo.png'|theme }}", alt="")/
                            figcaption.text-center
                                small ... e não apenas o logo, mas o slogan também

                        h3.page-title.text-center.col-md-12.padding-top-50
                            | Coinceitos chave
                            small a nova marca tein transmitir...
                        p.text-center.col-md-12.padding-top-20
                            span.label.label-default dualità
                            !="&nbsp"
                            span.label.label-default composizione
                            !="&nbsp"
                            span.label.label-default autorevolezza

                        h3.page-title.text-center.col-md-12
                            small a nova marca tein transmitir...
                        h3.text-center.col-md-12.padding-top-20
                            .label.label-default Encontre o seu jeito de inovar


                    #dettagli_logo_inovar.col-md-6
                        .row
                            h3.page-title.text-center.col-md-12
                                | Escolher cores
                                small ...significa definir o caráter da empresa
                        .row.clear.padding-top-20
                            .col-md-6.vcenter
                                img(src!="{{'assets/images/portfolio/inovar/colore1.png'|theme }}", alt="")/

                            .col-md-6.vcenter
                                ul.arrow-list
                                    li HEX: #00a09a
                                    li RGBA: 0,160,154,1
                                    li CMYK: 80,10,45,0
                                    li Pantone: 3272C Solid Coated

                        .row.clear.padding-bottom-50
                            .col-md-6.vcenter
                                img(src!="{{'assets/images/portfolio/inovar/colore2.png'|theme }}", alt="")/

                            .col-md-6.vcenter
                                ul.arrow-list
                                    li HEX: #2f0e0f
                                    li RGBA: 47,14,15,1
                                    li CMYK: 56,91,70,81
                                    li Pantone: Black 5C Solid Coated
                        .row
                            h3.page-title.text-center.col-md-12
                                | Pesquisar fontes
                                small ...por uma questão de estilo
                            figure.col-md-12.text-center
                                img(src="{{ 'assets/images/portfolio/mvin/font_imperator.jpg'|theme }}", alt="")/
                                figcaption
                                    small Imperator


        .section-row.three-quarters-padding-bottom.no-padding-top
            .container
                .row
                    .col-md-12
                        p.col-md-offset-2.col-md-8.text-justify
                            +content('inovar/secondotesto.htm')

    //section#testimonials.section.th-dark(data-background="/themes/atemporale/assets/images/dev/parallax/1.jpg", data-background-xs="/themes/atemporale/assets/images/dev/parallax/1-xs.jpg", data-background-md="/themes/atemporale/assets/images/dev/parallax/1-md.jpg", data-background-lg="/themes/atemporale/assets/images/dev/parallax/1-lg.jpg")
    .section-row-container.section.th-dark
        .section-row.three-quarters-padding-top.three-quarters-padding-bottom(style="background-color:#bbb;")
            .container
                .row
                    .col-md-10.col-md-push-1
                        .testimonial-slider.owl-carousel(data-auto-height="true", data-single-item="true",data-animation-name="rotateInUpLeft")
                            .testimonial
                                blockquote
                                    p
                                        !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                    small
                                        !='Alan Grant <cite>Invision, Ltd.</cite>'

                            .testimonial
                                blockquote
                                    p
                                        !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                    small
                                        !='Alan Grant <cite>Invision, Ltd.</cite>'

                            .testimonial
                                blockquote
                                    p
                                        !='Ever since we started working with Hydrogen, every project we had was always on time delivered.'
                                    small
                                        !='Alan Grant <cite>Invision, Ltd.</cite>'

        .section-row.three-quarters-padding-top.three-quarters-padding-bottom
            .container
                .row
                    .col-md-12
                        h2.page-title.text-center
                            | Presença Virtual Insuperável
                            small actualmente em desenvolvimento...
                        br/
                        br/
                        br/
                        br/
                .row


+endsection()