
<section id="testimonials" data-background="/themes/atemporale/assets/images/dev/parallax/1.jpg" data-background-xs="/themes/atemporale/assets/images/dev/parallax/1-xs.jpg" data-background-md="/themes/atemporale/assets/images/dev/parallax/1-md.jpg" data-background-lg="/themes/atemporale/assets/images/dev/parallax/1-lg.jpg" class="section th-dark">
  <div class="section-row-container">
    <div class="section-row three-quarters-padding-top three-quarters-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-push-1">
            <div data-auto-height="true" data-single-item="true" data-animation-name="rotateInUpLeft" class="testimonial-slider owl-carousel">
              <div class="testimonial">
                <blockquote>

{% content "home/testimonial1.htm" %}


                </blockquote>
              </div>
              <div class="testimonial">
                <blockquote>

{% content "home/testimonial2.htm" %}


                </blockquote>
              </div>
              <div class="testimonial">
                <blockquote>

{% content "home/testimonial3.htm" %}


                </blockquote>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-overlay"></div>
</section>
<section id="services" class="section">
  <div class="section-row-container">
    <div class="section-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

{% content "home/serviceheader.htm" %}


          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-paper-plane-o"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-paper-plane-o shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service1.htm" %}


              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-desktop"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-desktop shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service2.htm" %}


              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-magic"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-magic shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service3.htm" %}


              </div>
            </div>
          </div>
        </div>
        <div class="spacer-20 hidden-xs hidden-sm"></div>
        <div class="row">
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-globe"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-globe shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service4.htm" %}


              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-university"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-university shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service5.htm" %}


              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="service">
              <div class="service-icon"><i data-animation-name="bounceIn" class="fa fa-users"></i><i data-animation-name="fadeInLeft" data-animation-delay="0" class="fa fa-users shadow-icon"></i></div>
              <div class="service-info">

{% content "home/service6.htm" %}


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>