
<div class="site-loader"></div>
<section id="home" class="site-splash fullscreen">
  <div class="splash-inner">
    <div class="splash-slider">
      <div class="splash-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="splash-text">

{% content "home_intro/introslide1.htm" %}


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="splash-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="splash-text">

{% content "home_intro/introslide2.htm" %}


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="splash-content">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="splash-text">

{% content "home_intro/introslide3.htm" %}


              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cycle-next"></div>
      <div class="cycle-prev"></div>
    </div>

{% content "home_intro/introbackground.htm" %}


    <div class="splash-feedback"><span class="mouse"><span class="fa fa-angle-down"></span></span><span class="caption">Scroll</span></div>
  </div>
</section>