
<div id="contact" class="section">
  <div class="section-row-container">
    <div class="section-row half-padding-bottom">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

{% content "home_contato/contacttitle.htm" %}


          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <form method="post" action="php/contact/contact.php" class="form-horizontal contact-form">
              <!-- Honeypot SPAM Protection--><input type="text" name="cf[honeypot]" style="display: none">
              <!-- END Honeypot SPAM Protection-->
              <div class="form-group">
                <div class="col-md-6"><input type="text" name="cf[name]" class="form-control required" placeholder="Qual o seu Nome?">
                </div>
                <div class="col-md-6"><input type="email" name="cf[email]" class="form-control required email" placeholder="Qual o seu melhor Email?">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-6"><input type="url" name="cf[url]" class="form-control url" placeholder="Qual o nome da sua Empresa?">
                </div>
                <div class="col-md-6"><input type="text" name="cf[subject" class="form-control required" placeholder="Qual o seu n° de Telefone?">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><textarea name="cf[message]" rows="6" class="form-control required" placeholder="Mensagem"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-12"><input type="submit" value="Enviar" class="btn btn-sm btn-block btn-primary">
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <div class="aside sidebar">

{% content "home_contato/contactinfo.htm" %}


            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-row no-padding-top no-padding-bottom">
      <div class="google-maps-container">
        <div data-center="-19.840709,-43.952953" data-markers="[{&quot;lat&quot;:&quot;-19.840709&quot;,&quot;lng&quot;:&quot;-43.952953&quot;}]" data-zoom="16" data-scrollWheel="false" data-monochrome="true" class="google-maps"></div>
      </div>
    </div>
  </div>
</div>