
<section id="about" class="section">
  <div class="section-row-container">
    <div class="section-row">
      <div class="container">
        <div class="row">
          <div class="col-lg-3">
            <h1 class="section-title show-counter">

{% content "home_sobrenos/whowearesx.htm" %}


            </h1>
          </div>
          <div class="col-lg-8 col-lg-push-1">
            <div class="row">
              <div class="col-md-12 padding-bottom-50">

{% content "home_sobrenos/whowearedxdesc.htm" %}


              </div>
            </div>

{% content "home_sobrenos/whowearedx4.htm" %}


          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-row no-padding-top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-push-4">
          <h2 class="section-separator-title">

{% content "home_sobrenos/whoweareequipetitle.htm" %}


          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-push-4">

{% content "home_sobrenos/whoweareequipedesc.htm" %}


        </div>
      </div>
      <div class="row padding-top-20">

{% content "home_sobrenos/whoweareequipelist.htm" %}


      </div>
    </div>
  </div>
</section>