
<section data-background="demo/parallax/2.jpg" data-background-xs="demo/parallax/2-xs.jpg" data-background-md="demo/parallax/2-md.jpg" data-background-lg="demo/parallax/2-lg.jpg" class="section">
  <div class="section-row-container">
    <div class="section-row th-dark no-padding-bottom bg-transparent">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-subtitle text-center">

{% content "home/blogtitle.htm" %}


            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="section-row no-padding-top half-padding-bottom">
      <div class="container">
        <div class="row">
          <div data-animation-name="fadeInRightBig" class="col-md-12">
            <div data-auto-height="true" class="owl-carousel items-carousel">
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post1.htm" %}


                </div>
              </div>
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post2.htm" %}


                </div>
              </div>
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post3.htm" %}


                </div>
              </div>
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post4.htm" %}


                </div>
              </div>
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post5.htm" %}


                </div>
              </div>
              <div class="carousel-item">
                <div class="recent-post post-standard">

{% content "home/post6.htm" %}


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-overlay"></div>
</section>