h2.section-separator-title.separator-align-left
    span(data-shadow-text="Nossos Clientes")
        !='Principais Clientes/Parceiros'
p.lead
    !='We have worked with some of the worlds biggest brands, along with famous designers, artists, bloggers, and entrepreneurs.'