.sidebar-block
    p
        !='<strong class="text-semibold">Atemporale Design</strong><br>Rua São Miguel 1629 - Itapoã <br>Belo Horizonte - MG <br>Brasil'
.sidebar-block
    p.lead
        i.fa.fa-envelope
        !=' info@atemporale.it'
        br/
        i.fa.fa-phone
        !=' 0055 (31) 3327-4866'
        br/
        i.fa.fa-mobile
        !=' 0055 (31) 9-8247-6893'