.col-text(data-animation-name="bounceIn")
    h2.headline
        !='So youre convinced that Hy<span class="text-primary">dro</span>gen is the best?'
.col-btn(data-animation-name="fadeInUp")
    a.btn.btn-lg.btn-default(href="http://www.themeforest.net", target="_blank")
        !='Buy Now on ThemeForest'