h2.price
    !='$5<small>/mo.</small>'
h5.name
    !='Basic'
.features
    ul
        li
            !='<span>250</span> templates to choose from'
        li
            !='<span>10GB</span> disk space'
        li
            !='<span>5TB</span> bandwidth'
        li
            !='<span>4GB</span> memory'
        li
            !='Prioritized Support'