.recent-post-media.recent-post-img
    .media
        figure
            img(src="/themes/atemporale/assets/images/dev/blog/thumbs/r1.jpg", alt="")/
        .overlay
            ul
                li.mfp-zoom
                    a(href="/themes/atemporale/assets/images/dev/blog/r1.jpg")
                        i.gi.gi-resize-full
.recent-post-body
    a.read-more-link(href="blog-single.html")
        i.gi.gi-link
    .content
        h4.post-title
            !='Surfing in North Miami'
        p
            !='Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.'
        .meta
            ul
                li
                    !='19 February 2014'
                li
                    !='38 comments'
                li
                    !='<i class="gi gi-heart text-primary"></i> 22'