h4.service-name
    !='Acompanhamento e Consultorias '
p.service-description
    !='Gestão da marca e do projeto | Gerenciamento da reputação online | Acompanhamento  das redes sociais | Consultorias em Ecodesign'