p.lead
    !='Cada um com sua personalidade, experiência e formação integra nossa equipe que trabalha em sintonia para buscar os melhores resultados. Além da nossa equipe fixa contamos ainda com outros colaboradores e parceiros.'