.row
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-magic
            .info
                h4
                    !='Somos responsáveis!'
                p
                    !='Sim, nós temos um ideal! Influenciar positivamente nossa sociedade com projetos que tenham uma "pegada" eco, ética e conscienciosa.'

    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-trophy
            .info
                h4
                    !='Somos made in Italy!'
                p
                    !='Trazemos no nosso DNA a herança, originalidade e o <q title="saber fazer">saper fare</q> do design italiano, com a ousadia,  colorido e expontaneidade brasileira.'
.row
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-heart
            .info
                h4
                    !='Somos criteriosos!'
                p
                    !='As metodologias clássicas do design, o pensamento sistêmico e o design thinking integram a nossa receita para trazer soluções eficazes e atemporais.'
    .col-md-6
        .icon-box(data-animation-name="fadeInUp")
            .icon
                i.fa.fa-certificate
            .info
                h4
                    !='Somos confiáveis!'
                p
                    !='Nosso trabalho visa 100% de satisfação dos nossos clientes. Pensando nisso oferecemos a garantia de resultados, ou caso contrário o seu dinheiro de volta!'