li.active
    a(href="#", data-filter="*")
        !='Todos'
li
    a(href="#", data-filter=".marca")
        !='Marca Irresistível'
li
    a(href="#", data-filter=".web")
        !='Presença Virtual Insuperável'
li
    a(href="#", data-filter=".campanhas")
        !='Campanhas vencedoras'
//li
    a(href="#", data-filter=".ecodesign")
        !='Economia Azul'
li
    a(href="#", data-filter=".social")
        !='Experiências que transformam'