li.active
    a(href="#", data-filter="*")
        !='Todos'
li
    a(href="#", data-filter=".illustration")
        !='Marcas'
li
    a(href="#", data-filter=".web-design")
        !='Web Design'
li
    a(href="#", data-filter=".branding")
        !='Ecodesign e projetos sociais'
li
    a(href="#", data-filter=".photography")
        !='Outros'