.project-image
    img(src="/themes/atemporale/assets/images/dev/portfolio/min/atemporale_design_portfolio_min8.jpg", alt="")/
    .overlay
        ul.actions

            li.mfp-details
                a(href!="/public.prog1")
                    i.fa.fa-search
.project-info
    h4.project-name
        !='Moon farl'
    div.project-categories
        !='Illustration, Web Design'