.project-image
    img(src="/themes/atemporale/assets/images/portfolio/min/atemporale_design_portfolio_min2.jpg", alt="")/
    .overlay
        ul.actions

            li.mfp-details
                a(href="/public.prog2")
                    i.fa.fa-search
.project-info
    h4.project-name
        !='Vó Ligia Bolos Caseiros'
    .project-categories
        !='Identidade Visual, papelaria'