.project-image
    img(src="/themes/atemporale/assets/images/portfolio/min/atemporale_design_portfolio_min4.jpg", alt="")/
    .overlay
        ul.actions

            li.mfp-details
                a(href="/public.prog1")
                    i.fa.fa-search
.project-info
    h4.project-name
        !='Clinica Dentale Bavaria'
    .project-categories
        !='Web Design, ad words'