h4.service-name
    !='Para uma <span class="text-primary">Economia Azul</span>'
p.service-description
    !='Ecodesign (desenvolvimento de produtos ecosustentáveis) | Design sistêmico (gestão inteligente dos recursos naturais) | Design de Serviços (Soluções para problemas urbanos)'