include ./mixin.jade

+infofile('default')
+infocomponent('session')
+optionsessioncomponent('all','')
+endinfofile()
+component('session')

doctype html
html(class="no-js", lang="pt-br", itemscope itemtype="http://schema.org/CreativeWork", xmlns:og="http://opengraphprotocol.org/schema/", xmlns:fb="http://www.facebook.com/2008/fbml", xmlns:website="http://ogp.me/ns/website", prefix="fb: http://ogp.me/ns/ profile: http://ogp.me/ns/profile#")
    head

        //Meta nameTemplate
        title
            !='{{ this.theme.site_name }} - {{ this.page.title }}'
        meta(name="title", content!="{% if this.page.meta_title %}{{ this.page.meta_title }}{% else %}{{ this.theme.meta_title }}{% endif %}")
        meta(name="description", content!="{% if this.page.meta_description %}{{ this.page.meta_description }}{% else %}{{ this.theme.meta_description }}{% endif %}")/
        meta(name="keywords", content!="{{ this.theme.meta_keywords }}")/

        meta(charset="utf-8")/
        meta(http-equiv="X-UA-Compatible", content="IE=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")/
        meta(name="google", content="notranslate")/
        meta(name="author", content="Atemporale Design, Atemporale NEXT")/
        meta(name="application-name", content="Atemporale Design - Estratégias Criativas de Comunicação e Design")/

        //Meta name og
        meta(property="og:title", content="Atemporale Design - Estratégias Criativas de Comunicação e Design")/
        meta(property="og:description", content="Um buon Design é aquele que faz sen-ti-do e gera oportunidades. Todavia, um “Design affascinante” é aquele que, além disso, permanece no tempo sendo ATEMPORAL")/
        meta(property="og:type", content="website")/
        meta(property="og:url", content="http://atemporale.it")/
        meta(property="og:image", content="#")/
        meta(property="og:determiner", content="the")/
        meta(property="og:locale", content="pt_BR")/
        meta(property="fb:app_id", content="#")/
        meta(name="copyright", content="Atemporale Design")

        //Meta name verify
        meta(name="google-site-verification", content="#")/

        //Favicon.ico
        link(rel="shortcut icon", href="/themes/atemporale/images/prod/favicon/favicon.ico", type="image/x-icon")/
        link(rel="apple-touch-icon", sizes="57x57", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_57.png")/
        link(rel="apple-touch-icon", sizes="60x60", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_60.png")/
        link(rel="apple-touch-icon", sizes="72x72", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_72.png")/
        link(rel="apple-touch-icon", sizes="76x76", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_76.png")/
        link(rel="apple-touch-icon", sizes="114x114", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_114.png")/
        link(rel="apple-touch-icon", sizes="120x120", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_120.png")/
        link(rel="apple-touch-icon", sizes="144x144", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_144.png")/
        link(rel="apple-touch-icon", sizes="152x152", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_152.png")/
        link(rel="apple-touch-icon", sizes="180x180", href="/themes/atemporale/images/prod/favicon/apple_touch_icon_180.png")/
        link(rel="icon", type="image/png", href="/themes/atemporale/images/prod/favicon/favicon_16.png", sizes= "16x16")/
        link(rel="icon", type="image/png", href="/themes/atemporale/images/prod/favicon/favicon_32.png", sizes= "32x32")/
        link(rel="icon", type="image/png", href="/themes/atemporale/images/prod/favicon/favicon_96.png", sizes= "96x96")/
        link(rel="icon", type="image/png", href="/themes/atemporale/images/prod/favicon/android_chrome_192.png", sizes="192x192")/
        meta(name="msapplication-square70x70logo", content="/themes/atemporale/images/prod/favicon/smalltile.png")/
        meta(name="msapplication-square150x150logo", content="/themes/atemporale/images/prod/favicon/mediumtile.png")/
        meta(name="msapplication-wide310x150logo", content="/themes/atemporale/images/prod/favicon/widetile.png")/
        meta(name="msapplication-square310x310logo", content="/themes/atemporale/images/prod/favicon/largetile.png")/


        //Fonts external link
        link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Raleway:300,400,600,700,300italic,400italic,600italic,700italic|Droid+Serif:400,400italic")/

        //Page CSS
        +yield('styles')

    body(itemtype="", itemscope)
        #fb-root
            script.
                (function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.6&appId=1172179922816213";
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));

        +yield('eventuals')

        header.site-header
            .header-inner
                .container
                    .row
                        .header-table.col-md-12
                            .header-col.brand
                                a(href="#")
                                    +content('layout/navlogo.htm')
                            .header-col.main-nav
                                a.nav-toggle(href="#")
                                ul.nav
                                    li
                                        a(href!="/#")
                                            !='Home'
                                    li
                                        a(href!="/#about")
                                            !='Sobre nós'
                                    li
                                        a(href!="/#services")
                                            !='O que fazemos?'
                                    li
                                        a(href!="/#work")
                                            !='Nossos projetos'
                                    li
                                        a(href!="/#contact")
                                            !='Contato'
                                    li
                                        a(href!="/blog")
                                            ='Blog'
                                            span.sub-toggle
                                        ul
                                            li
                                                a(href!="/blog")
                                                    ='Mais novos'
                                            li
                                                a(href!="/blog/identidade")
                                                    ='Identidade visual'
                                            li
                                                a(href!="/blog/webdesign")
                                                    ='Webdesign'
                                            li
                                                a(href!="/blog/marketing")
                                                    ='Marketing digital'
                                            li
                                                a(href!="/blog/ecodesign")
                                                    ='Ecodesign'
                                            li
                                                a(href!="/blog/sociais")
                                                    ='Projetos sociais'
                                            li
                                                a(href!="/blog/interdisciplinares")
                                                    ='Interdisciplinares'
                                            li
                                                a(href!="/blog/uncategorized")
                                                    ='Uncategorized'
                                    li
                                        a(href="/account")
                                            !='Area cliente'

                                    !='{% if user %}'
                                        li
                                            a(href="#", data-request="onLogout")
                                                !='Logout'
                                    !='{% endif %}'




        .site-wrapper
            .site-body
                +yield('pages')
111111




            footer.site-footer
                .footer-logo
                    .container
                        .row
                            .col-md-12
                                a(href="#")
                                    +content('layout/footerlogo.htm')

                // inizio nascosto
                .footer-widgets
                    .container
                        .row
                            .col-md-4
                                +content('layout/footerdesc.htm')

                            .col-md-4
                                +content('layout/footerservice.htm')

                            .col-md-4
                                +content('layout/footerproject.htm')

                // fine nascosto

                .footer-bottom
                    .container
                        .row
                            .col-md-12
                                .footer-text
                                    +content('layout/footercc.htm')

                                .social-list
                                    ul
                                        li
                                            a(href="https://www.facebook.com/AtemporaleDesign/")
                                                i.fa.fa-facebook
                                        li
                                            a( href="https://twitter.com/Atemporale_D")
                                                i.fa.fa-twitter
                                        li
                                            a( href="https://www.instagram.com/atemporaledesign/")
                                                i.fa.fa-instagram
                                        li
                                            a( href="https://plus.google.com/+AtemporaleD/posts?hl=en")
                                                i.fa.fa-google-plus
                                        li
                                            a( href="https://github.com/AtemporaleNEXT")
                                                i.fa.fa-github


        +yield('scripts')
        !='{% framework extras %}'
        !='{% scripts %}'
