h4.splash-intro
    a(href="#")
        !="Criatividade + Estratégia"
h1.splash-headline
    !='Made in Italy<br /><span class="text-primary"> Digital Excellence</span>'
.splash-description
    p
        !='Somos certificados pelo google. Mais uma garantia de qualidade para você!'
