h4.service-name
    !='Trazer <span class="text-primary">Experiências que transformam </span>'
p.service-description
    !='Projetos sociais | Museu Virtual | Pesquisas e desenvolvimento | Conscientização quotidiana.'