h2.price
    !='<small>Imagem irresistibile</small>'
h5.name
    !='Perfeito para quem está abrindo uma empresa!.'
.features
    ul
        li
            !='<span>Logo</span> que nunca vão sair de moda!'
        li
            !='<span>Papelaria</span> Cartões de visita, papel timbrado, pastas, etc. '
        li
            !='<span>Plano de Marketing</span> mini'
        li
            !='<span>4 Bônus</span> personalizados'
        li
            !='Prioritized Support'