h4.splash-intro
    a(href="#")
        ="como anda a atual situação de design da sua empresa?"
h1.splash-headline
    !="Vamos conversar!"
.splash-description
    p
        !='Melhorando apenas um item do seu negócio você pode aumentar, em até 30%, o seu faturamento.'
