h4.splash-intro
    a(href="#")
        !='Benvenuto ao nosso site!'
h1.splash-headline
    !='Atemporale <span class="text-primary">Design</span>'
.splash-description
    p
        !='Transformamos o seu negócios em um empreendimento inspirador. Descubra agora mesmo!'
